*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
}

body{
  font-family: "Nunito Sans", serif;
}

h2{
  font-family: "Merienda", serif;
}

.h-img{
  width: 200px;
}